.App nav{
  background-color: #212731;
  height: 64px;
  max-height: 64px;
  color: #D1D6DA;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  
}
a{
  text-decoration: none;
}
.App{
  width:1592px;
}

.links{
  grid-column: 2;
  display:inline-grid;
  margin-top: 3%;
}

.links a{
  grid-row: 1;
  font-size: 14px;
  text-decoration: none;
  color: #D1D6DA;
  font-family: inter;

}

.link2{
  margin-left: -40%;
}
.link3{
  margin-left: -65%;
}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 258px;
  left: 54%;
  right: 0;
  grid-column:1 ;
  width: 100%;
}
@media screen and (max-width:1200px) {
  .App .group{
    /* width: 200px ; */
    left: 47%;
  }

  .App .links{
    margin-top: 4%;
    margin-left: -9%;
  }
}

@media screen and (max-width:900px) {
  .App .group{
    /* width: 160px ; */
    left: 45%;
  }

  .App .links{
    margin-top: 5%;
    margin-left: -10%;
  }
  .App .link2{
    margin-left: -30%;
  }
}

@media screen and (max-width:800px) {
  .App .group{
    /* width: 100px ; */
    left: 30%;
  }
  .App .links{
   margin-left: -30%;
  }
}
@media screen and (max-width:600px) {
  .App .group{
    /* width: 50px ; */
    left: 20%;
  }
  .App .links{
   display: grid;
   gap: 10%;
   grid-template-columns: minmax(3,5fr);
  }
}
@media screen and (max-width:300px) {
  .App .group{
    /* width: 200px ; */
    left: 10%;
  }
  .App .links{
   display: grid;
   gap: 10%;
   grid-template-columns: minmax(3,5fr);
  }
}

 
 .input {
  width: 100%;
  height: 37px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 
 
 .icon {
  position: absolute;
  left: 5%;
  opacity: 0.6;
  width: 1.5rem;
  height: 2rem;
 }
 
 .body{
  /* border: 2px solid blue; */
  margin: 5px;
  height: 2347px;
  padding: 0% 15% 0% 15% ;
  background-color: #FBFCFD;
 }

 
 .header h2{
  font-size: 48px;
  font-weight: 400;
 }
 
 .header .update{
  display: flex;
  color: #5C6874;
 }
 .header .update div{
  width: 30%;
  margin-right: 6%;
  display: flex;
  padding: 1% 0%;
 }
 .header .update img{
  margin-right: 1%;
  width: 20px;
  height: 20px;
 }
 
 .update a{
  color: #4B5665;
 }
 .breadcrumb-header a{
  color: #4B5665;
 }

 .breadcrumbs a{
  color: #727D87;
 }
 .header .update .relavant{
  margin-right: 0%;
  justify-content: flex-end;
 }

.breadcrumb-header{
  padding-top:2% ;
  display: flex;
  color: #5C6874;
  justify-content:left;
  gap: 6%;
 }
 
 .breadcrumbs{
  padding-top: 2%;
  color: #5C6874;
  font-size: 13px;
 }

 .breadcrumbs img{
  margin: 0% 1%;
 }

 .content{
  height: 255px;
  margin-top: 4%;
  width: 1024px;
  
 }

 .content .tag{
  margin:-2% 0% 0% -1%;
  display: flex;
  padding: 0.5%;
  font-size: 16px;
  width:136px;
  border-radius: 0px 8px 8px 0px;
  background-color: #FF7724;
  color: #FFFFFF;
 }
 .tag img{
  padding:0% 5%;
}
 .context{
  display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "image data data rating";
 }

.image{
  /* grid-column: 1; */
  grid-area: image;
  margin-top: 15%;
  margin-left: 15%;
  width: fit-content;
}
 .context .image p{
  color: #5C6874;
   margin-left: 25%; 
  
 }
 .rating{
  height: 118px;
  width: 135px;
  /* grid-row: 2; */
  grid-area: rating;
  background-color: #F3F9FF;
  border-radius: 0px 0px 12px 12px;
  margin-top:-6%;
  display: grid;
  /* margin-left: -70%; */
  text-align: center;
  justify-content:center;
  padding-top: 5%;
  grid-row: 1;
 }

 .Cont .data{
  margin-left: -10%;
  width:93%;
  /* text-align: justify; */
  padding: 0;
  margin-top: 2%;
  font-size: 16px;
  /* padding-right: 5%; */
  /* grid-column: 2; */
grid-area: data;
}


.data a{
  margin-bottom: 0;
}

.data h4{
  margin-top: 2%;
}
.RHS{
  display: flex;
  flex-flow: column;
  row-gap: 20%;
  margin-bottom: none;
  height: 255px;
}

.score{
  font-size: 32px;

  /* padding-top: 2px; */
  color: #074786;
}

.rating .stars{
  padding: 0;
  margin: 0%;
}

.button {
  border: 0;
  text-align: center;
  display: block;
  /* padding: 14px; */
  width: 232px;
  /* margin: 7px; */
  height: 48px;
  color: #ffffff;
  background-color: #36a2eb;
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  grid-row: 2 ;
  margin-left: -20%;
}

.highlights{
  background-color: #FFF4ED;
  width: 440px;
  height: 116px;
  border-radius: 12px;
  display: grid;
  padding: 3%;
  padding-bottom: 0%;
}
.content4{
  height:480px;
}

.content4 .RHS{
  row-gap: 55%;
  height: 436px;

}

.checkbox p{
  color: #4B5665;
  display: flex;
}

.checkbox img{
  margin-right: 2%;
}

.index{
  width: fit-content;
  color: #1B88F4;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 4px;
}
.index-name{
  margin-left: 2%;
}

.deals{
  margin-top: 5%;
}

.deals h1{
  font-size: 32px;
  font-weight: 400;
}
.deals-list{
  display: flex;
}

.deal1{
  max-height: 425px;
  max-width: 333px;
  width: 100%;

  background-color: #ffffff;
  /* padding: 2%; */
  display: grid;
  grid-template-areas:
  "img img img"
  "content content content"
  "content content content"
  "button button button";
}


.deal1 .img{
  grid-area: img;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.deal1 .deal-content{
  /* height: 90%; */
  grid-area: content;
  padding: 7%;
  padding-bottom: 3%;
  display: grid;
}
.deal1 div img{
  margin-top: 10%;
  margin-bottom: 0;
}
.offer-links{
  display: flex;
  gap: 3%;
  justify-content: left;
  text-align: left;
}
.offer-links a{
  background-color: #F2F4F7;
  height: fit-content;
  width: max-content;
  color: #074786;
  padding: 2% 4%;
  text-decoration: none;
  border-radius: 8px;
}
.deal-head{
  text-align: center;
  color: #626E79;
  line-height: 24px;
  font-weight: 700;
}

.deal-body{
  font-size: 16px;
  /* text-align: center; */
  font-weight: 400;
  color: #626E79;
}

.deal-price{
  display:flex;
  column-gap: 5%;
  align-items: flex-end;
  padding: 4% 0%;
}
.main-price{
  font-size: 14px;
  color: #9FA9B3;
}
.final-price{
  color: #5C6874;
  font-size: 20px;
}

.discount{
  color: #EF4C5D;
}
.deal-btn{
  max-width: 100%;
  grid-area: button;
  padding:0% 7%;

}
.deal-btn .button{
  margin-left: 0%;  
  width: 100%;
}


.signup-details{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2,4fr);
  grid-template-areas: 
  "head input input";
}
.signup-details h1{
  font-size: 32px;
  color: #5C6874;
  padding-right: 10%;
  padding-left: 5%;
  font-weight: 400;
  grid-area: head;
  grid-row: 1 / 4  ;
}
.signup-input{
  display: flex;
  grid-area: input;
  grid-row: 2;
  justify-items: center;
  justify-content: center;
  height: fit-content;
}


.signup-input .input{
  max-width: 348px;
  margin: 0;
  width: 60%;
  border-radius: 12px 0px 0px 12px;
  padding-left: 2%;
  background-color: #FFFFFF;
}
.signup-details .btn{
  border: 0;
  text-align: center;
  display: block;
  /* padding: 14px; */
  /* width: 232px; */
  /* margin: 7px; */
  /* height: 48px; */
  color: #ffffff;
  background-color: #1B88F4;
  border-radius: 0px 12px 12px 0px;
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  width: 97px;
  letter-spacing: 0.7px ;
}

/* Footer CSS*/
.footer{
  height: 452px;
  background-color: #212731;
  max-width: 1592px;
  color: #ffffff;
  font-weight: 200;
  /* margin-left: -25%; */
  display: grid;
  padding-top: 3%;
  padding-left:15%;
  grid-template-areas: 
  "category contact US";  
}

.categories, .contact {
  display: grid;
  height: fit-content;
}

.categories{
  grid-area: category;
  grid-row: 1 / 6 ;
  /* text-transform: uppercase; */
}
.contact{
  grid-area: contact;
  grid-row: 1 / 6 ;
  /* text-transform: uppercase; */
}
.US{
  grid-area: US;
  grid-row: 2;
  color: #ffffff;

}

.US .navlink{
  text-decoration: none;
  color: #ffffff;
}
.US img{
  padding-left: 2%;
}
.categories  .h2{
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
}
.categories .label{
  font-size: 13px;
  line-height: 40px;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
}

.contact  .h2{
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
}
.contact .label{
  font-size: 13px;
  line-height: 40px;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}
